.invoice-details-container{
    background-color: #ffffff;
    border: 1px solid #E8ECF2;
    border-radius: 15px;
    height: 250px;
    width: 400px;
    padding: 10px 20px;
    box-sizing: border-box;
}

.invoice-details-title{
    font-size: 18px;
    color: #108A43;
    font-weight: 2000;
    font-family: 'Poppins', sans-serif;
}

.invoice-label{
    font-size: 12px;
    color: #333333;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.invoice-number-container,.invoice-date-container,.payment-method-container,.due-date-container{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
}


.invoice-number-input,.invoice-date-input,.payment-type-input,.due-date-input{
    font-size: 12px;
    color: #000000;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #E8ECF2;
    border-radius: 5px;
    padding: 5px;
    width: 200px;
    height: 20px;
    background-color: #ffffff;
}

.payment-type-input{
    width: 210px;
    height: 35px;
}


