.customer-details-invoice-container{
    background-color: #ffffff;
    border: 1px solid #E8ECF2;
    border-radius: 15px;
    height: 250px;
    width: 350px;
    padding: 10px 20px;
    box-sizing: border-box;
}

.customer-details-title{
    font-size: 18px;
    color: #108A43;
    font-weight: 2000;
    font-family: 'Poppins', sans-serif;
}

.select-customer{
    font-size: 12px;
    color: #000000;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.customer-select{
    font-size: 12px;
    color: #000000;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #E8ECF2;
    border-radius: 5px;
    padding: 5px;
    width: 98%;
    height: 30px;
    background-color: #ffffff;
}

.customer-phone-input,.customer-email-input{
    font-size: 12px;
    color: #000000;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #E8ECF2;
    border-radius: 5px;
    padding: 5px;
    width: 95%;
    height: 20px;
    margin-top: 15px;
    background-color: #ffffff;
}
